<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.mapper.BoardMapper">

	<!-- C -->
	<insert id="insert">
		insert into tbl_board(title, content,
		writer)
		values(#{title}, #{content}, #{writer})
	</insert>

	<!-- R 목록보기 -->
	<select id="getList" resultType="com.kb.domain.BoardVO">
		SELECT * from tbl_board ORDER BY
		bno DESC Limit 0,100
	</select>

	<!-- R 상세보기 -->
	<select id="read" resultType="com.kb.domain.BoardVO">
		SELECT * from tbl_board where bno =
		#{bno}
	</select>

	<!-- U -->
	<insert id="update">
		update tbl_board set
		title = #{title},
		content = #{content}, writer = #{writer}, updatedate = now()
		where bno =
		#{bno}
	</insert>

	<!-- D -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>

</mapper>

